In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import ensemble
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn import ensemble

In [2]:
df = pd.read_csv("new_file.csv")
df

,Unnamed: 0,Prod. year,Engine volume,Mileage,Cylinders,Airbags,Price
0,0,2010,3.5,186005,6.0,12,13328
1,1,2011,3.0,192000,6.0,8,16621
2,2,2006,1.3,200000,4.0,2,8467
3,3,2011,2.5,168966,4.0,0,3607
4,4,2014,1.3,91901,4.0,4,11726
...,...,...,...,...,...,...,...
19232,19232,1999,2.0,300000,4.0,5,8467
19233,19233,2011,2.4,161600,4.0,8,15681
19234,19234,2010,2.0,116365,4.0,4,26108
19235,19235,2007,2.0,51258,4.0,4,5331
19236,19236,2012,2.4,186923,4.0,12,470

In [3]:
df.fillna(df.mean())

,Unnamed: 0,Prod. year,Engine volume,Mileage,Cylinders,Airbags,Price
0,0,2010,3.5,186005,6.0,12,13328
1,1,2011,3.0,192000,6.0,8,16621
2,2,2006,1.3,200000,4.0,2,8467
3,3,2011,2.5,168966,4.0,0,3607
4,4,2014,1.3,91901,4.0,4,11726
...,...,...,...,...,...,...,...
19232,19232,1999,2.0,300000,4.0,5,8467
19233,19233,2011,2.4,161600,4.0,8,15681
19234,19234,2010,2.0,116365,4.0,4,26108
19235,19235,2007,2.0,51258,4.0,4,5331
19236,19236,2012,2.4,186923,4.0,12,470

In [22]:
split = int(df.shape[0] *.9) #split at 90%, 10%-ish
df_train = df.iloc[:split]
df_test = df.iloc[split:]

In [23]:
x_train  = df_train[['Prod. year','Engine volume','Mileage','Cylinders','Airbags']]
y_train = df_train.Price

In [24]:
x_test =df_test[['Prod. year','Engine volume','Mileage','Cylinders','Airbags']]
y_test = df_test.Price

In [6]:
# get_x = df.drop(['Price','Unnamed: 0'],axis="columns")
# get_x

       Prod. year  Engine volume  Mileage  Cylinders  Airbags
0            2010            3.5   186005        6.0       12
1            2011            3.0   192000        6.0        8
2            2006            1.3   200000        4.0        2
3            2011            2.5   168966        4.0        0
4            2014            1.3    91901        4.0        4
...           ...            ...      ...        ...      ...
19232        1999            2.0   300000        4.0        5
19233        2011            2.4   161600        4.0        8
19234        2010            2.0   116365        4.0        4
19235        2007            2.0    51258        4.0        4
19236        2012            2.4   186923        4.0       12

[19237 rows x 5 columns]

In [7]:
# get_y=df['Price']
# get_y

0        13328
1        16621
2         8467
3         3607
4        11726
         ...
19232     8467
19233    15681
19234    26108
19235     5331
19236      470
Name: Price, Length: 19237, dtype: int64

In [12]:
# x_train,x_test,y_train,y_test  =train_test_split(get_x,get_y,test_size = 0.4)

In [25]:
model_ln =linear_model.LinearRegression()
model_lg = linear_model.LogisticRegression()

In [26]:
model_ln.fit(x_train,y_train)

LinearRegression()

In [27]:
model_ln.score(x_test,y_test)

0.08666314361164162

In [32]:
model_lg.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [33]:
model_lg.score(x_test,y_test)

0.011434511434511435

In [34]:
model_rfr = ensemble.RandomForestRegressor(n_estimators=100)

In [35]:
model_rfr.fit(x_train,y_train)

RandomForestRegressor()

In [36]:
model_rfr.score(x_test,y_test)

0.584450243580255