In [34]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split 
import matplotlib.pyplot as plt
from sklearn.model_selection import cross_val_score

In [35]:
df = pd.read_csv("price.csv")
df.head(3)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0

In [36]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [37]:
df.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [38]:
df.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [39]:
df['Bathroom']

0        1.0
1        1.0
2        1.0
3        2.0
4        2.0
        ...
34852    1.0
34853    2.0
34854    1.0
34855    NaN
34856    1.0
Name: Bathroom, Length: 34857, dtype: float64

In [40]:
df['Bedroom2'].fillna(df['Bedroom2'].mean(),inplace=True)

In [41]:
df['Bathroom'].fillna(df['Bathroom'].mean(),inplace=True)

In [42]:
df['Car'].fillna(df['Car'].mean(),inplace=True)
df['Landsize'].fillna(df['Landsize'].mean(),inplace=True)

In [43]:
df['BuildingArea'].fillna(df['BuildingArea'].mean(),inplace=True)

In [44]:
df['Type']

0        h
1        h
2        h
3        u
4        h
        ..
34852    h
34853    h
34854    t
34855    h
34856    h
Name: Type, Length: 34857, dtype: object

In [45]:
df.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2             0
Bathroom             0
Car                  0
Landsize             0
BuildingArea         0
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

## Colummns with **"0"** correlation with price should be droped out
        1. Date
        2. Lattitude 
        3. Property count
        4. Postcode
        5. CouncilArea
        6. Suburb
        7. Logtitude

In [46]:
col = ['Date','Lattitude','Propertycount','Postcode','CouncilArea','Suburb','Longtitude']
df.drop(col,axis="columns",inplace=True)
df

,Address,Rooms,Type,Price,Method,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Regionname
0,68 Studley St,2,h,NaN,SS,Jellis,2.5,2.000000,1.000000,1.000000,126.000000,160.2564,NaN,Northern Metropolitan
1,85 Turner St,2,h,1480000.0,S,Biggin,2.5,2.000000,1.000000,1.000000,202.000000,160.2564,NaN,Northern Metropolitan
2,25 Bloomburg St,2,h,1035000.0,S,Biggin,2.5,2.000000,1.000000,0.000000,156.000000,79.0000,1900.0,Northern Metropolitan
3,18/659 Victoria St,3,u,NaN,VB,Rounds,2.5,3.000000,2.000000,1.000000,0.000000,160.2564,NaN,Northern Metropolitan
4,5 Charles St,3,h,1465000.0,SP,Biggin,2.5,3.000000,2.000000,0.000000,134.000000,150.0000,1900.0,Northern Metropolitan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,13 Burns St,4,h,1480000.0,PI,Jas,6.3,4.000000,1.000000,3.000000,593.000000,160.2564,NaN,Western Metropolitan
34853,29A Murray St,2,h,888000.0,SP,Sweeney,6.3,2.000000,2.000000,1.000000,98.000000,104.0000,2018.0,Western Metropolitan
34854,147A Severn St,2,t,705000.0,S,Jas,6.3,2.000000,1.000000,2.000000,220.000000,120.0000,2000.0,Western Metropolitan
34855,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,6.3,3.084647,1.624798,1.728845,593.598993,160.2564,NaN,Western Metropolitan
34856,3 Tarrengower St,2,h,1020000.0,PI,RW,6.3,2.000000,1.000000,0.000000,250.000000,103.0000,1930.0,Western Metropolitan

In [49]:
df.isna().sum()

Address             0
Rooms               0
Type                0
Price            7610
Method              0
SellerG             0
Distance            1
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
YearBuilt       19306
Regionname          3
dtype: int64

In [51]:
df.YearBuilt.describe()

count    15551.000000
mean      1965.289885
std         37.328178
min       1196.000000
25%       1940.000000
50%       1970.000000
75%       2000.000000
max       2106.000000
Name: YearBuilt, dtype: float64

In [53]:
df.YearBuilt.fillna(method='ffill',inplace=True)
df.isna().sum()

Address            0
Rooms              0
Type               0
Price           7610
Method             0
SellerG            0
Distance           1
Bedroom2           0
Bathroom           0
Car                0
Landsize           0
BuildingArea       0
YearBuilt          2
Regionname         3
dtype: int64

In [55]:
df.dropna(inplace=True)
df.isna().sum()

Address         0
Rooms           0
Type            0
Price           0
Method          0
SellerG         0
Distance        0
Bedroom2        0
Bathroom        0
Car             0
Landsize        0
BuildingArea    0
YearBuilt       0
Regionname      0
dtype: int64

In [56]:
df.to_csv("pro_data.csv",index=False)