In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [10]:
df = pd.read_csv("data.csv")
df

    Day  temp    hum       stat
0  Day1  25.2   60.3      ideal
1  Day2  19.3  100.1  non-ideal
2  Day3  18.5   85.4      ideal
3  Day4  21.7   75.3      ideal
4  Day5  20.1   90.4  non-ideal

In [11]:
dummy = pd.get_dummies(df['stat'],drop_first=True)
dummy

   non-ideal
0          0
1          1
2          0
3          0
4          1

In [16]:
merge = pd.concat([df,dummy],axis="columns")
final  = merge.drop('stat',axis="columns")
final

    Day  temp    hum  non-ideal
0  Day1  25.2   60.3          0
1  Day2  19.3  100.1          1
2  Day3  18.5   85.4          0
3  Day4  21.7   75.3          0
4  Day5  20.1   90.4          1

In [27]:
x= final.drop(['non-ideal','Day'],axis="columns")

   temp    hum
0  25.2   60.3
1  19.3  100.1
2  18.5   85.4
3  21.7   75.3
4  20.1   90.4

In [19]:
y = final['non-ideal']
y

0    0
1    1
2    0
3    0
4    1
Name: non-ideal, dtype: uint8

In [20]:
from sklearn.naive_bayes import GaussianNB
model =GaussianNB()
model.fit(x,y)

GaussianNB()

In [22]:
model.predict([[26.5,65.5]])

array([0], dtype=uint8)

In [33]:
ans  = model.predict_proba(x)
ans

array([[1.00000000e+00, 2.27050960e-51],
       [6.86404170e-03, 9.93135958e-01],
       [9.48630996e-01, 5.13690037e-02],
       [9.99999992e-01, 7.75363780e-09],
       [5.83416536e-02, 9.41658346e-01]])

In [32]:
df_ans = pd.DataFrame(ans,columns=['non-ideal','ideal'])
df_ans

   non-ideal         ideal
0   1.000000  2.270510e-51
1   0.006864  9.931360e-01
2   0.948631  5.136900e-02
3   1.000000  7.753638e-09
4   0.058342  9.416583e-01

In [37]:
df_ans.to_csv("answer.csv")